#### python과 mongodb 연동
- pip install pymongo

In [2]:
from pymongo import MongoClient

client = MongoClient("mongodb://root:12345@localhost:27017")

# pytest db 연결
db = client['pytest']

collections = db.list_collection_names()
for c in collections:
    print(c)

users

In [3]:
# C(삽입)

# 컬렉션 가져오기
collection = db.users

# 단일 문서 삽입
data = {"name": "John", "age": 30}
result = collection.insert_one(data)
print(f"insert id: {result.inserted_id}")

insert id: 6777618e69bf6cf64c2a1155

In [5]:
# 여러 문서 삽입
data = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 35},
    {"name": "Charlie", "age": 40}
]
result = collection.insert_many(data)
print(f"insert ids: {result.inserted_ids}")

insert ids: [ObjectId('677761fe69bf6cf64c2a1156'), ObjectId('677761fe69bf6cf64c2a1157'), ObjectId('677761fe69bf6cf64c2a1158')]

In [6]:
# R(조회): find_one(), find()
document = collection.find_one({"name": "John"})
print(document)

{'_id': ObjectId('6777618e69bf6cf64c2a1155'), 'name': 'John', 'age': 30}

In [7]:
documents = collection.find({})

for doc in documents:
    print(doc)

{'_id': ObjectId('6777618e69bf6cf64c2a1155'), 'name': 'John', 'age': 30}
{'_id': ObjectId('677761fe69bf6cf64c2a1156'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('677761fe69bf6cf64c2a1157'), 'name': 'Bob', 'age': 35}
{'_id': ObjectId('677761fe69bf6cf64c2a1158'), 'name': 'Charlie', 'age': 40}

In [8]:
# U(수정) - update_one(), update_many()

filter = {"name": "John"}
data = {"$set":{"age": 35}}
result = collection.update_one(filter, data)
print(f"Modified Count {result.modified_count}")

Modified Count 1

In [9]:
# 나이가 30보다 큰 doc 추출해서 새로운 컬럼 추가
filter = {"age": {"$gt": 30}}
data = {"$set":{"is_available": True}}
result = collection.update_many(filter, data)
print(f"Modified Count {result.modified_count}")

Modified Count 3

In [10]:
# 삭제: delete_one(), delete_many()

filter = {"name": "John"}
result = collection.delete_one(filter)
print(f"Deleted Count: {result.deleted_count}")

Deleted Count: 1

In [12]:
filter = {"age":{"$lt": 40}}
result = collection.delete_many(filter)
print(f"Deleted Count: {result.deleted_count}")

Deleted Count: 1